<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.shop.mapper.SkuPropertyMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.SkuProperty">
        <id column="id" property="id"/>
        <result column="catalog_id" property="catalogId"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sku_property
    where id = #{id}
  </delete>
    <insert id="insert" parameterType="cn.wolfcode.shop.domain.SkuProperty" useGeneratedKeys="true" keyProperty="id">
    insert into sku_property (catalog_id, name, sort)
    values (#{catalogId}, #{name}, #{sort})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.wolfcode.shop.domain.SkuProperty">
    update sku_property
    set catalog_id = #{catalogId},
      name = #{name},
      sort = #{sort}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, catalog_id, name, sort
    from sku_property
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, catalog_id, name, sort
    from sku_property
  </select>
    <select id="selectProperyByCatalogId" resultMap="BaseResultMap">
    select id, catalog_id, name, sort
    from sku_property
    where catalog_id = #{catalogId} order by sort
  </select>
    <select id="selectSkuPropertiesByProductId" resultMap="BaseResultMap">
    select id, catalog_id, name, sort
    from sku_property
    where catalog_id = (select catalog_id from product where id = #{productId})
  </select>
    <select id="getCodePrefix" resultType="java.lang.String">
        SELECT skuCodePrefix(#{catalogId})
    </select>
</mapper>